<footer class="footer">
  <div class="footer__container">
    <div class="footer__content">
      <div class="footer__left">
        <a href="index.html">
          <img src="./assets/brand/Logo-horizontal-darkMode.png" alt="Logobrand horizontal" />
        </a>
        <div class="footer__menu">
          <ul>
            <li>
              <a href="index.html">Home</a>
            </li>
            <li>
              <a href="about-us.html">About Us</a>
            </li>
            <li>
              <a href="all-reviews.html">All Reviews</a>
            </li>
            <li>
              <a href="trending-spots.html">Trending Spots</a>
            </li>
            <li>
              <a href="student-picks.html">Student Picks</a>
            </li>
            <li>
              <a href="contact.html">Contact</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__right">
        <div class="footer__acknowledgement">
          <h4>Acknowledgement of Country</h4>
          <p>
            Bite Check Brisbane acknowledges Aboriginal and Torres Strait Islander peoples as the First Australians. We recognise their cultures, histories and
            diversity and their deep connection to the lands, waters and seas of Queensland and the Torres Strait.
            <br />
            We acknowledge the Jagera people and the Turrbal people as the Traditional Custodians of Meanjin (Brisbane), the lands on which our office is
            located and where we meet, work and learn. We pay our respects to Jagera and Turrbal Elders past, present and emerging.
          </p>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <p class="footer__bottom-info">A student project created for Web Development (NIT1101) - Victoria University</p>
      <p class="footer__bottom-copyright">
        © 2026 Bite Check Brisbane | <a href="privacy-policy.html">Privacy Policy</a> | <a href="terms-of-use.html">Terms of Use</a> |
        <a href="accessibility.html">Accessibility</a> |
        <a href="contact.html">Contact</a>
      </p>
    </div>
  </div>
</footer>
