<header class="header">
  <div class="header__container">
    <div class="header__topbar">
      <div class="header__logo">
        <a href="index.html" class="header__logo--link">
          <img src="./assets/brand/logo-vertical.png" alt="Logo" />
        </a>
      </div>
      <button class="header__nav--toggle" id="menu-toggle" aria-label="Open Menu">
        <div class="header__nav--toggle-icon header__nav--toggle-icon-1"></div>
        <div class="header__nav--toggle-icon header__nav--toggle-icon-2"></div>
        <div class="header__nav--toggle-icon header__nav--toggle-icon-3"></div>
      </button>
    </div>

    <div class="header__mobile-panel">
      <nav class="header__nav--menu">
        <a href="index.html" class="header__nav--menu-link">Home</a>
        <a href="about-us.html" class="header__nav--menu-link">About Us</a>
        <a href="all-reviews.html" class="header__nav--menu-link">All Reviews</a>
        <a href="trending-spots.html" class="header__nav--menu-link">Trending Spots</a>
        <a href="student-picks.html" class="header__nav--menu-link">Student Picks</a>
        <a href="contact.html" class="header__nav--menu-link">Contact</a>
      </nav>
      <div class="header__weather">
        <div class="header__weather--container">
          <p class="header__weather--temp" id="weather--temp"></p>
          <p class="header__weather--icon" id="weather--icon" alt="weather icon"></p>
        </div>
        <p class="header__weather--time" id="weather--time"></p>
      </div>
    </div>
  </div>
</header>
