/* ---------- HEADER STYLES */
.header {
  position: relative;
  z-index: 1000;
  box-shadow: var(--shadow-md);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-lg);
    margin: 0 auto;
    max-width: 1200px;
  }

  &__logo--img {
    display: block;
    width: auto;
    height: 80px;
    object-fit: contain;
  }

  &__nav--toggle {
    display: none;
  }

  &__nav--menu {
    display: flex;
    gap: var(--space-sm);
  }

  &__nav--menu-link {
    font-weight: var(--font-light);
    padding: var(--btn-sm-padding);
    border: var(--border);
    border-radius: var(--radius-sm);
    text-decoration: none;
    color: var(--color-text);
  }

  &__nav--menu-link:hover,
  &__nav--menu-link:active,
  &__nav--menu-link.active-link {
    background-color: var(--color-primary);
    color: white;
    box-shadow: var(--shadow-md);
  }

  &__mobile-panel {
    display: flex;
    align-items: center;
    gap: var(--space-lg);
  }

  /* Header weather widget styles */

  &__weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-text-darkmode);
    padding: var(--btn-md-padding-tall);
    background-color: var(--color-tertiary);
    border-radius: var(--radius-md);
  }

  &__weather--container {
    display: flex;
    align-items: center;
    margin-bottom: var(--space-xs);
  }

  &__weather--time {
    padding-top: var(--space-tiny);
    font-size: var(--font-size-md);
    font-weight: var(--font-bold);
    text-transform: uppercase;
  }
}
